body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  -webkit-box-sizing:border-box;
  -webkit-box-sizing:padding-box;
  text-transform: capitalize;
}
body{
  background-color: #333;
  margin: 0px;
}
span{
  color: red;
}
/* start header */

.header{
  width: 1280px;
  margin: 0px auto;
  
}
/* start navbar */
.navbar{
  width: auto;
  background-image:linear-gradient(#000,#555);
  margin: 0;
  
}
.navbar ul{
  padding: 0px;
  margin: 0;
}
.navbar ul li{
  list-style-type: none;
  padding: 0px;
  display: inline;
  margin: 0px;
  
}
.first{
  font-size: 40px;
  font-weight: 300;
  background-image:linear-gradient(#fff,#aaa);
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  padding-left: 30px;
  padding-right: 15px;
  font-weight: 600;
  border-right: 1px solid blue;
  text-align: center;
  vertical-align: center;
  line-height: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;
  

  
  
}
.navbar ul li a:hover{
  background-color: black;
  color: red;
  border-radius: 20%;
  
}
/* start navbar */


a{text-decoration: none;}



/* end header */
/* start content */
.content{
  width: 1000px;
  margin:20px auto;
  height: 450px;
}

body .content .left{
  float: left;
  border-radius: 10px;
  width: 60%;
  background-color: #000;
  opacity: .9;
  padding:20px 0px 20px 0px;
  border:1px solid #666;
}

.content .left table tr .lefticon{
  color: #933;
  font-weight:bold;
  font-size:20px;
  width:30%;
  
}
.content .left table tr .righticon input{
  height: 40px;
  border-radius: 10px;
  padding-left: 5px;
}

.content .left table tr .righticon{
  width:65%;
  color: #933;
  font-weight:bold;
  font-size:25px; 
  text-align: center;
      }


body .content .right{
  
  float: left;
  height: 250px;
  padding-top: 20px;
  border:1px solid #666; 
  width: 35%;
  padding-left: 30px;
  font-size: 14px;
  border-radius: 10px;
  padding-right: 30px;
  margin-left: 3%;
  margin-right: 2%;
  background-color: #000;
}
body .content .left #button{
  margin-left: 250px;
}


.copy{
  padding-left: 100px;
  width: 1000px;
  margin:  auto;
  position: fixed;
  bottom: 10px;
}

.copy .logo{
  
  border-radius: 10%;
  margin-left: 10px;
  margin-right: 10px;
   
}
